@import "@variables";

.header {
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 4rem;
  font-family: $mainFont;

  &__logo {
    line-height: 1em;
    cursor: pointer;
    text-shadow: rgba(#000, 0.5) 0 0 1.2rem;
  }

  &__title {
    line-height: 1em;
    text-shadow: rgba(#000, 0.5) 0 0 1.2rem;
  }

  &__info {
    position: relative;
    cursor: pointer;

    img {
      filter: drop-shadow(0 0 0.4rem rgba(#000, 0.5));
    }

    &Modal {
      position: absolute;
      top: 5.2rem;
      right: 0;
      background-color: #fff;
      color: $textBlackColor;
      box-shadow: $shadowOut;
      font-size: $textSizeMedium;
      padding: 0.8rem;
      border-radius: 0.8rem;
      min-width: 12rem;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        right: 0.4rem;
        top: -1.6rem;
        clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
        background-color: #fff;
        width: 2rem;
        height: 2rem;
        z-index: 1;
      }
    }
  }
}
