@import "@variables";

.signButton {
  position: absolute;
  top: calc(50% - 10rem);
  left: calc(50% - 10rem);
  font-size: $textSizeLarge;
  background-color: #fff;
  box-shadow: $shadowOut;
  border-radius: 50%;
  font-family: $mainFont;
  width: 20rem;
  height: 20rem;
  color: $primaryColor;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}
