@import "@variables";

%triangle {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  background-color: #fff;
  top: 0.4rem;
  right: -0.8rem;
  clip-path: polygon(100% 0, 0 21%, 0 100%);
}

.dialog {
  &__message {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 1.6rem;
  }

  &__caution {
    color: $secondaryColor;
    margin-bottom: 0.8rem;
  }

  &__file {
    background-color: #fff;
    border-radius: 0.4rem;
    color: $primaryColor;
    margin-bottom: 1.6rem;
    display: block;
    padding: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    input[type="file"] {
      display: none;
    }
  }
}

.send {
  position: sticky;
  z-index: 1;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  font-size: $textSizeMedium;
  border-radius: 0.8rem 0.8rem 0 0;
  box-shadow: $shadowOut;

  &__input {
    margin-bottom: 0;
    background-color: $primaryDarkColor;
  }

  &__button {
    margin-left: 1.6rem;
  }
}

.message {
  padding: 0 1.6rem;
  font-size: $textSizeMedium;
  font-weight: bold;
  color: $primaryColor;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &__item {
    margin-bottom: 1.6rem;
    display: flex;
    width: 100%;

    &[data-left] {
      justify-content: flex-end;

      li {
        background-color: #fff;
        padding: 0.8rem;
        max-width: 80%;
        box-shadow: $shadowOut;
        border-radius: 0.8rem;
        margin-right: 0.8rem;
        position: relative;

        &::before {
          @extend %triangle;
        }
      }
    }

    &Image {
      width: 3.6rem;
      height: 3.6rem;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 1.6rem;
    }

    &Contents {
      max-width: 80%;
    }

    &Name {
      color: #fff;
      line-height: 1;
    }

    &Text {
      color: $primaryColor;
      padding: 0.8rem;
      display: block;
      background-color: #fff;
      box-shadow: $shadowOut;
      border-radius: 0.8rem;
      position: relative;
      margin-top: 0.4rem;

      &::before {
        @extend %triangle;
        clip-path: polygon(100% 20%, 0 0, 100% 100%);
        left: -0.8rem;
      }
    }
  }
}
