@import "@variables";

.dialog {
  &__error {
    color: $secondaryColor;
  }

  &__input {
    width: 100%;
    box-shadow: $shadowIn;
    padding: 0.8rem;
    border-radius: 0.4rem;
    margin-bottom: 1.6rem;
    background-color: rgba(#000, 0.1);
    color: #fff;
    font-weight: bold;
  }
}

.room {
  padding: 0.8rem 1.6rem 0;

  li {
    margin-bottom: 1.6rem;
    background-color: #fff;
    padding: 0.8rem;
    width: 100%;
    color: $primaryColor;
    font-family: $mainFont;
    font-size: $textSizeMedium;
    border-radius: 0.8rem;
    box-shadow: $shadowOut;
  }
}

.noRoomText {
  padding: 0.8rem 1.6rem 0;
  font-family: $mainFont;
  font-size: $textSizeMedium;
}

%bar {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.8rem;
  height: 0.8rem;
  background-color: $primaryColor;
  border-radius: 0.4rem;
}

.add {
  position: fixed;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  bottom: 1.6rem;
  right: 1.6rem;
  border-radius: 50%;
  box-shadow: $shadowOut;

  &::before {
    @extend %bar;
  }

  &::after {
    @extend %bar;
    height: 2.8rem;
    width: 0.8rem;
  }
}
