@import "@variables";

.toast {
  position: absolute;
  z-index: 20;
  top: -12rem;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba($secondaryColor, 0.5);
  font-size: $textSizeMedium;
  padding: 1.6rem;
  font-weight: bold;

  &[data-show] {
    animation: slide 5s forwards;

    @keyframes slide {
      0% {
        top: -12rem;
      }
      20% {
        top: 0;
      }
      80% {
        top: 0;
      }
      100% {
        top: -8rem;
      }
    }
  }

  &__green {
    background-color: rgba($successColor, 0.5);
  }
}
