@import "@variables";
.error {
  color: $secondaryColor;
  margin-bottom: 0.8rem;
}

.input {
  width: 100%;
  box-shadow: $shadowIn;
  padding: 0.8rem;
  border-radius: 0.4rem;
  margin-bottom: 1.6rem;
  background-color: rgba(#000, 0.15);
  color: #fff;
  font-weight: bold;
}
