@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

// color
$primaryColor: #f3b702;
$secondaryColor: #e2224f;

// font family
$mainFont: "Dela Gothic One", cursive, sans-serif;

// font size
$textSizeSmall: 1rem;
$textSizeMedium: 1.6rem;
$textSizeLarge: 3.2rem;
